body {
    margin: 0;
    padding: 0;
    background-image: url(./Assets/IMG_20210719_182654.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    backdrop-filter: blur(4px);
    background-color: hsla(0, 0, 100%, 0.1);
    width: 100%;
}